# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.deps
.libs
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/etc/m4/libtool.m4
/etc/m4/ltoptions.m4
/etc/m4/ltsugar.m4
/etc/m4/ltversion.m4
/etc/m4/lt~obsolete.m4
/examples/Makefile.in
/include/Makefile.in
/install-sh
/ltmain.sh
/m4
/missing
Makefile
Makefile.in
libtool
stamp-h1
*.trs
*.Tpo
*.i
/GPATH
/GRTAGS
/GTAGS
_config.hpp*
/tools/compost/wavconv
/tools/darkroom/texconv
/libs/algorithm/test/lib_algorithm_test_adjacent_find
/libs/algorithm/test/lib_algorithm_test_algorithm
/libs/algorithm/test/libs_algorithm_test_adjacent_find
/libs/algorithm/test/libs_algorithm_test_algorithm
/libs/algorithm/test/libs_algorithm_test_all_of
/libs/algorithm/test/libs_algorithm_test_all_of_equal
/libs/algorithm/test/libs_algorithm_test_any_of
/libs/algorithm/test/libs_algorithm_test_any_of_equal
/libs/algorithm/test/libs_algorithm_test_binary_search
/libs/algorithm/test/libs_algorithm_test_bogo_sort
/libs/algorithm/test/libs_algorithm_test_bogo_sort_result
/libs/algorithm/test/libs_algorithm_test_bozo_sort
/libs/algorithm/test/libs_algorithm_test_bozo_sort_result
/libs/algorithm/test/libs_algorithm_test_clamp
/libs/algorithm/test/libs_algorithm_test_clamp_range
/libs/algorithm/test/libs_algorithm_test_clamp_range_copy
/libs/algorithm/test/libs_algorithm_test_copy
/libs/algorithm/test/libs_algorithm_test_copy_backward
/libs/algorithm/test/libs_algorithm_test_copy_if
/libs/algorithm/test/libs_algorithm_test_copy_n
/libs/algorithm/test/libs_algorithm_test_copy_until
/libs/algorithm/test/libs_algorithm_test_copy_while
/libs/algorithm/test/libs_algorithm_test_count
/libs/algorithm/test/libs_algorithm_test_count_if
/libs/algorithm/test/libs_algorithm_test_equal
/libs/algorithm/test/libs_algorithm_test_equal_range
/libs/algorithm/test/libs_algorithm_test_fill_n
/libs/algorithm/test/libs_algorithm_test_find
/libs/algorithm/test/libs_algorithm_test_find_end
/libs/algorithm/test/libs_algorithm_test_find_first_of
/libs/algorithm/test/libs_algorithm_test_find_if
/libs/algorithm/test/libs_algorithm_test_find_if_not
/libs/algorithm/test/libs_algorithm_test_generate
/libs/algorithm/test/libs_algorithm_test_generate_n
/libs/algorithm/test/libs_algorithm_test_includes
/libs/algorithm/test/libs_algorithm_test_inplace_merge
/libs/algorithm/test/libs_algorithm_test_is_decreasing
/libs/algorithm/test/libs_algorithm_test_is_heap
/libs/algorithm/test/libs_algorithm_test_is_heap_until
/libs/algorithm/test/libs_algorithm_test_is_increasing
/libs/algorithm/test/libs_algorithm_test_is_partitioned
/libs/algorithm/test/libs_algorithm_test_is_permutation
/libs/algorithm/test/libs_algorithm_test_is_sorted
/libs/algorithm/test/libs_algorithm_test_is_sorted_until
/libs/algorithm/test/libs_algorithm_test_is_strictly_decreasing
/libs/algorithm/test/libs_algorithm_test_is_strictly_increasing
/libs/algorithm/test/libs_algorithm_test_lexicographical_compare
/libs/algorithm/test/libs_algorithm_test_lower_bound
/libs/algorithm/test/libs_algorithm_test_make_heap
/libs/algorithm/test/libs_algorithm_test_make_partial_heap
/libs/algorithm/test/libs_algorithm_test_max
/libs/algorithm/test/libs_algorithm_test_max_element
/libs/algorithm/test/libs_algorithm_test_merge
/libs/algorithm/test/libs_algorithm_test_min
/libs/algorithm/test/libs_algorithm_test_min_element
/libs/algorithm/test/libs_algorithm_test_minmax
/libs/algorithm/test/libs_algorithm_test_minmax_element
/libs/algorithm/test/libs_algorithm_test_mismatch
/libs/algorithm/test/libs_algorithm_test_modifying
/libs/algorithm/test/libs_algorithm_test_next_permutation
/libs/algorithm/test/libs_algorithm_test_non_modifying
/libs/algorithm/test/libs_algorithm_test_none_of
/libs/algorithm/test/libs_algorithm_test_none_of_equal
/libs/algorithm/test/libs_algorithm_test_nth_element
/libs/algorithm/test/libs_algorithm_test_one_of
/libs/algorithm/test/libs_algorithm_test_one_of_equal
/libs/algorithm/test/libs_algorithm_test_partial_sort
/libs/algorithm/test/libs_algorithm_test_partition
/libs/algorithm/test/libs_algorithm_test_partition_copy
/libs/algorithm/test/libs_algorithm_test_partition_point
/libs/algorithm/test/libs_algorithm_test_pop_heap
/libs/algorithm/test/libs_algorithm_test_prev_permutation
/libs/algorithm/test/libs_algorithm_test_push_heap
/libs/algorithm/test/libs_algorithm_test_random_swap
/libs/algorithm/test/libs_algorithm_test_random_swap_result
/libs/algorithm/test/libs_algorithm_test_recurrence
/libs/algorithm/test/libs_algorithm_test_recurrence_n
/libs/algorithm/test/libs_algorithm_test_remove
/libs/algorithm/test/libs_algorithm_test_remove_copy
/libs/algorithm/test/libs_algorithm_test_remove_copy_if
/libs/algorithm/test/libs_algorithm_test_remove_if
/libs/algorithm/test/libs_algorithm_test_replace
/libs/algorithm/test/libs_algorithm_test_replace_copy
/libs/algorithm/test/libs_algorithm_test_replace_copy_if
/libs/algorithm/test/libs_algorithm_test_replace_if
/libs/algorithm/test/libs_algorithm_test_reverse
/libs/algorithm/test/libs_algorithm_test_reverse_copy
/libs/algorithm/test/libs_algorithm_test_rotate
/libs/algorithm/test/libs_algorithm_test_rotate_copy
/libs/algorithm/test/libs_algorithm_test_search
/libs/algorithm/test/libs_algorithm_test_search_n
/libs/algorithm/test/libs_algorithm_test_set_difference
/libs/algorithm/test/libs_algorithm_test_set_intersection
/libs/algorithm/test/libs_algorithm_test_set_symmetric_difference
/libs/algorithm/test/libs_algorithm_test_set_union
/libs/algorithm/test/libs_algorithm_test_shuffle
/libs/algorithm/test/libs_algorithm_test_shuffle_result
/libs/algorithm/test/libs_algorithm_test_sort
/libs/algorithm/test/libs_algorithm_test_sort_heap
/libs/algorithm/test/libs_algorithm_test_stable_partition
/libs/algorithm/test/libs_algorithm_test_stable_partition_copy
/libs/algorithm/test/libs_algorithm_test_stable_sort
/libs/algorithm/test/libs_algorithm_test_swap_element
/libs/algorithm/test/libs_algorithm_test_swap_element_copy
/libs/algorithm/test/libs_algorithm_test_transform
/libs/algorithm/test/libs_algorithm_test_tristate_lexicographical_compare
/libs/algorithm/test/libs_algorithm_test_unfold
/libs/algorithm/test/libs_algorithm_test_unfold_n
/libs/algorithm/test/libs_algorithm_test_unique
/libs/algorithm/test/libs_algorithm_test_unique_copy
/libs/algorithm/test/libs_algorithm_test_upper_bound
/libs/array/test/libs_array_test_array
/libs/bitset/test/libs_bitset_test_bitset
/libs/cstring/test/libs_cstring_test_cstring
/libs/cstring/test/libs_cstring_test_memchr
/libs/cstring/test/libs_cstring_test_memcmp
/libs/cstring/test/libs_cstring_test_strchr
/libs/cstring/test/libs_cstring_test_strcmp
/libs/cstring/test/libs_cstring_test_strcoll
/libs/cstring/test/libs_cstring_test_strcspn
/libs/cstring/test/libs_cstring_test_strlen
/libs/cstring/test/libs_cstring_test_strncmp
/libs/cstring/test/libs_cstring_test_strpbrk
/libs/cstring/test/libs_cstring_test_strrchr
/libs/cstring/test/libs_cstring_test_strspn
/libs/cstring/test/libs_cstring_test_strstr
/libs/net/test/libs_endian_test_endian
/libs/optional/test/libs_optional_test_optional
/libs/random/example/array
/libs/random/test/libs_random_test_additive_combine
/libs/random/test/libs_random_test_bernoulli_distribution
/libs/random/test/libs_random_test_binomial_distribution
/libs/random/test/libs_random_test_geometric_distribution
/libs/random/test/libs_random_test_inversive_congruential
/libs/random/test/libs_random_test_linear_congruential
/libs/random/test/libs_random_test_normal_distribution
/libs/random/test/libs_random_test_random
/libs/random/test/libs_random_test_shuffle_order
/libs/random/test/libs_random_test_taus88
/libs/random/test/libs_random_test_uniform_01
/libs/random/test/libs_random_test_uniform_int_distribution
/libs/random/test/libs_random_test_uniform_real_distribution
/libs/random/test/libs_random_test_uniform_smallint
/libs/string/example/c_str_to_sprout_string
/libs/string/example/literals_to_string
/libs/string/example/simple
/libs/string/test/libs_string_test_string
/libs/tuple/test/libs_tuple_test_tuple
/libs/utility/string_view/test/libs_string_view_test_string_view
/libs/variant/test/libs_variant_test_variant
/libs/weed/example/as_tuple
/libs/weed/example/remove_space
/tools/files/filegraph
/test-driver
/configure~
/libs/math/test/libs_math_test_trunc
/libs/random/example/libs_random_example_array
